header{
    background-color: gray;
}

header h1{
    padding: 10px;
}

nav{
    padding-left: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    display: flex;
    gap: 10px;
    list-style: none;
}

body {
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.main_graph {
    background-color: gray;
    padding: 10px;
    border-color: black;
    border-style: solid;
}

